Repository kwooshung/cvla: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/build.mjs, npx prettier --write, npx eslint --fix, npx jest --findRelatedTests

🐛 fix(docs): Repair the demonstration picture in the document error
  .github/workflows/ci.yml
  README.md
  README.zh-CN.md
Due: none

📦️ release(tag): new version 1.1.2
  changelogs/.history
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
  package.json
Due: npx prettier --write

🐛 fix(changelog): Modify the historical record file
  changelogs/.history
Due: none

🐛 fix(docs): Modify the path of the .Commitlintrc.cjs. The previous file name was written wrong
  README.md
  README.zh-CN.md
  src/utils/version/get/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

📦️ release(tag): new version 1.1.3
  changelogs/.history
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
  package.json
Due: npx prettier --write

🐛 fix(docs): Modify the description document address again, all are written as an absolute address
  README.md
  README.zh-CN.md
  src/utils/version/get/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

📦️ release(tag): new version 1.2.0
  changelogs/.history
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
  package.json
Due: npx prettier --write

🐛 fix(docs): Capsule map address is wrong, it has been repaired
  .cvlar-commit-message-100238.tmp
  README.md
  src/utils/version/get/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

📦️ release(tag): new version 1.2.1
  changelogs/.history
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
  package.json
Due: npx prettier --write

✨ feature(docs): .gitigonre ignoring git submission of temporary files
  .cvlar-commit-message-100238.tmp
  .gitignore
  README.md
  README.zh-CN.md
  package.json
  src/utils/version/get/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(tag): Fix the wrong version number
  package.json
  src/utils/version/get/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

📦️ release(tag): new version 1.2.2
  changelogs/.history
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
  package.json
Due: npx prettier --write

🐛 fix(docs): Forgot to Change the Chinese Capsule Icon
  README.zh-CN.md
  package.json
  src/utils/version/get/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

📦️ release(tag): new version 1.2.3
  changelogs/.history
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
Due: none

🐛 fix(docs): The link address of this document should have no errors
  README.zh-CN.md
  src/utils/version/get/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

📦️ release(tag): new version 1.2.4
  changelogs/.history
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
  package.json
Due: npx prettier --write

🐛 fix(docs): Modify the releases page address of the English description
  README.md
Due: none

📦️ release(tag): new version 1.3.0
  changelogs/.history
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
  package.json
Due: npx prettier --write

📦️ release(tag): new version 1.3.1
  README.md
  README.zh-CN.md
  changelogs/.history
  package.json
  src/utils/version/get/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(docs): The description of the modification part is not clear enough
  README.md
  README.zh-CN.md
Due: none

📦️ release(tag): new version 1.3.2
  changelogs/.history
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
  package.json
Due: npx prettier --write

🐛 fix(config): Fix the subtle adjustment of some configuration files
  .eslintrc.cjs
  .lintstagedrc
  .prettierrc.cjs
  .swcrc
  LICENSE
  README.zh-CN.md
  src/utils/version/get/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

📦️ release(tag): new version 1.3.3
  changelogs/.history
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
  package.json
Due: npx prettier --write

🐛 fix(config): Adjust the configuration again to make it clearer
  jest.config.cjs
  package.json
  tsconfig.json
  tsup.config.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

📦️ release(tag): new version 1.3.4
  changelogs/.history
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
  src/utils/version/get/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(docs): Fix the installation instructions in the document error
  README.md
  README.zh-CN.md
  package.json
  pnpm-lock.yaml
Due: npx prettier --write

📦️ release(tag): new version 1.3.5
  changelogs/.history
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
  package.json
Due: npx prettier --write

📚 docs(docs): More detailed installation instructions
  .gitattributes
  README.md
  README.zh-CN.md
Due: none

📦️ release(tag): new version 1.3.6
  changelogs/.history
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
  package.json
Due: npx prettier --write

🐛 fix(lib): Google Translate connectivity check timeout to avoid the problem of being unable to translate if the time is too short
  pnpm-lock.yaml
  src/utils/translate/check/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

📦️ release(tag): new version 1.3.7
  package.json
  src/utils/version/get/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

📦️ release(tag): new version 1.3.7
  changelogs/.history
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
  package.json
  pnpm-lock.yaml
Due: npx prettier --write

🐛 fix(deps): Update dependence
  package.json
  pnpm-lock.yaml
Due: npx prettier --write

📦️ release(tag): new version 1.3.8
  changelogs/.history
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
  package.json
Due: npx prettier --write

Path conditions:
  node scripts/build.mjs: any of: *.{js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx jest --findRelatedTests: any of: *.test.{js,ts}
