Repository kwooshung/cvla: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/build.mjs, npx prettier --write, npx eslint --fix, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["node scripts/build.mjs", "npx prettier --write", "npx eslint --fix"],
  "*.json": ["npx prettier --write"],
  "*.test.{js,ts}": ["npx jest --findRelatedTests"]
}

🐛 fix(lib): It is found that GitHub Actions must still use the `Node Dist/bin.js -R` in this project
  .github/workflows/ci.yml
Due: none

🐛 fix(lib): Re -repair the method of obtaining all tags
  src/core/run/questions/release/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(lib): The code is temporarily not compressed, and it is convenient to view the error code
  package.json
Due: npx prettier --write

🐛 fix(lib): Do you accidentally delete the code more
  package.json
Due: npx prettier --write

🐛 fix(lib): Fix the attributes of the Handleuserexit function to avoid outdated problems
  src/core/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(lib): Fix the code to startus to avoid errors
  src/core/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(lib): The error function name is added to the debug instruction string
  package.json
  src/core/run/questions/release/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(lib): Gradually narrow the scope of error, test whether the request object is correct
  src/core/run/questions/release/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(lib): Fix the API release problem, and test whether it is effective again
  src/core/run/questions/release/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

✨ feature(lib): New Github Release multi -language related configuration and functions
  .ks-cvlarrc.cjs
  src/core/init/locales/langs/en/index.ts
  src/core/init/locales/langs/zh-CN/index.ts
  src/core/init/questions/release/index.ts
  src/core/init/questions/save/comment/list/en/index.ts
  src/core/init/questions/save/comment/list/zh_CN/index.ts
  src/core/run/questions/release/index.ts
  src/interface.d.ts
  src/utils/config/def/user/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(workflows): Fix the order of the release version of Github Release, the smaller the version, the earlier the release
  src/core/run/questions/release/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(lib): `Changelog.translate.origin` and` Changelog.translate.target` Function
  src/core/run/questions/release/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(lib): `Changelog.translate.origin` and` Changelog.translate.target` Multi -language title settings error
  src/core/run/questions/release/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(lib): Repair the preview version of the submitted version number iteration number logic
  .ks-cvlarrc.cjs
  src/core/init/questions/i18n/en/index.ts
  src/core/init/questions/i18n/zh_CN/index.ts
  src/core/run/questions/gitControl/index.ts
  src/utils/config/def/user/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(changelog): According to the new configuration, re -generate the log file
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.ja.md
  changelogs/CHANGELOG.ko.md
  changelogs/CHANGELOG.ru.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
  src/core/run/questions/release/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

📦️ release(tag): new version 1.0.0-rc.1
  changelogs/.history
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
  package.json
Due: npx prettier --write

🐛 fix(changelog): `Release.poweredby` Directory in the middle of the log
  .ks-cvlarrc.cjs
  src/core/run/questions/release/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(utils): Repair version help
  src/utils/version/get/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

📦️ release(tag): new version 1.0.0-rc.2
  changelogs/.history
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
  package.json
Due: npx prettier --write

📚 docs(other): Update Readme.zh-CN.MD
  .ks-cvlarrc.en.cjs
  README.md
  README.zh-CN.md
  images/docs/cn/init.gif
  images/docs/cn/menu-main.png
  images/docs/cn/menu-run-scripts.gif
  images/docs/en/init.gif
  images/docs/help.png
  images/logos/128x128.png
  images/logos/446x446.png
  images/logos/Logo.psd
  logo/Logo.psd
  logo/logo.png
  src/core/run/questions/index.ts
  src/interface.d.ts
  src/utils/version/get/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

📦️ release(tag): new version 1.0.0-rc.3
  README.zh-CN.md
  changelogs/.history
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
  images/docs/cn/menu-git-commit-files.gif
  package.json
Due: npx prettier --write

📚 docs(changelog): Update document description
  README.md
  README.zh-CN.md
  images/docs/cn/menu-git-commit-tag.gif
  images/docs/cn/menu-package-install.gif
  package.json
  pnpm-lock.yaml
Due: npx prettier --write

📦️ release(tag): the new version 1.0.0-rc.4
  README.zh-CN.md
  changelogs/.history
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
Due: none

✨ feature(docs): Add the Chinese version of the description document, and currently prepare to add update dependencies demonstrations
  README.zh-CN.md
  images/docs/cn/menu-git-commit-tag.gif
  images/docs/cn/menu-package-uninstall.gif
  package.json
  pnpm-lock.yaml
Due: npx prettier --write

📚 docs(changelog): The explanation document has been improved
  README.md
  README.zh-CN.md
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
  images/docs/cn/menu-changelog-rebuild.gif
  images/docs/cn/menu-package-info.gif
  images/docs/cn/menu-package-list.gif
  images/docs/cn/menu-package-outdated.gif
  images/docs/cn/menu-package-search.gif
  images/docs/cn/menu-package-update.gif
  images/docs/en/menu-git-commit-files.png
  images/docs/en/menu-git-commit-tag.png
  images/docs/en/menu-main.png
  images/docs/en/menu-run-scripts.png
  package.json
  pnpm-lock.yaml
  src/core/run/questions/index.ts
  src/core/run/questions/pm/index.ts
  src/utils/version/get/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

✨ feature(lib): Support Chinese and English help description
  src/core/help/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(lib): Upgraded version number, you must add the version number identifier to the bug that can be submitted
  README.md
  README.zh-CN.md
  src/core/run/questions/gitControl/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

📚 docs(docs): Add other descriptions
  README.md
  README.zh-CN.md
Due: none

📦️ release(tag): new version 1.0.0
  changelogs/.history
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
  package.json
  src/core/run/questions/gitControl/index.ts
  src/utils/version/get/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

📚 docs(other): Increase development related instructions
  README.md
  README.zh-CN.md
  changelogs/.history
  package.json
Due: npx prettier --write

📦️ release(tag): new version 1.0.0
  package.json
Due: npx prettier --write

🐛 fix(docs): Explain some link errors in the documentation
  README.md
  README.zh-CN.md
  package.json
  pnpm-lock.yaml
Due: npx prettier --write

🐛 fix(docs): Modify the link again and write it directly
  README.md
  README.zh-CN.md
Due: none

📦️ release(tag): new version 1.0.1
  changelogs/.history
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
  package.json
  src/utils/version/get/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(docs): Fix the connection error in the documentation document
  README.md
  README.zh-CN.md
Due: none

📦️ release(tag): new version 1.0.2
  changelogs/.history
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
  package.json
Due: npx prettier --write

🐛 fix(docs): Fix the version number, repair the link text description
  README.md
  README.zh-CN.md
  package.json
  src/utils/version/get/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

📦️ release(tag): new version 1.1.0
  changelogs/.history
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
Due: none

🐛 fix(docs): I forgot to add the specific usage method of the CommitLint, which has been added
  .commitlintrc.cjs
  README.md
  README.zh-CN.md
Due: none

📦️ release(tag): new version 1.1.1
  changelogs/.history
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
  package.json
  src/utils/version/get/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix
