Repository kwooshung/cvla: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/build.mjs, npx prettier --write, npx eslint --fix, npx jest --findRelatedTests

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["node scripts/build.mjs", "npx prettier --write", "npx eslint --fix"],
  "*.json": ["npx prettier --write"],
  "*.test.{js,ts}": ["npx jest --findRelatedTests"]
}

✨ feature(lib): Complete GitHub Release function
  .ks-cvlarrc.cjs
  package.json
  pnpm-lock.yaml
  src/core/help/index.ts
  src/core/index.ts
  src/core/init/index.ts
  src/core/init/locales/langs/en/index.ts
  src/core/init/locales/langs/zh-CN/index.ts
  src/core/init/questions/changelog/index.ts
  src/core/init/questions/index.ts
  src/core/init/questions/release/index.ts
  src/core/init/questions/save/comment/list/en/index.ts
  src/core/init/questions/save/comment/list/zh_CN/index.ts
  src/core/init/questions/save/index.ts
  src/core/run/index.ts
  src/core/run/questions/changelog/index.ts
  src/core/run/questions/index.ts
  src/core/run/questions/release/index.ts
  src/interface.d.ts
  src/utils/config/def/user/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🆕 add(lib): Add Chinese and English versions that configure i18N
  .ks-cvlarrc.cjs
  src/core/init/questions/i18n/en/index.ts
  src/core/init/questions/i18n/zh_CN/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🆕 add(lib): Increased the configuration and comment description of the language package of i18N
  .ks-cvlarrc.cjs
  src/core/init/questions/i18n/en/index.ts
  src/core/init/questions/i18n/zh_CN/index.ts
  src/core/init/questions/save/comment/list/en/index.ts
  src/core/init/questions/save/comment/list/zh_CN/index.ts
  src/core/run/questions/gitControl/index.ts
  src/core/run/questions/index.ts
  src/core/run/questions/release/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

✨ feature(lib): Perfect function, the next test configuration switch situation
  .ks-cvlarrc copy.cjs
  .ks-cvlarrc.cjs
  src/core/init/locales/langs/en/index.ts
  src/core/init/questions/changelog/index.ts
  src/core/init/questions/commit/index.ts
  src/core/init/questions/i18n/en/index.ts
  src/core/init/questions/i18n/zh_CN/index.ts
  src/core/init/questions/save/comment/list/en/index.ts
  src/core/init/questions/save/comment/list/zh_CN/index.ts
  src/core/init/questions/save/index.ts
  src/core/run/questions/gitControl/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

✨ feature(lib): At present, the function is complete, and the next step is added to the GitHub Actions script, try to call
  .ks-cvlarrc copy.cjs
  src/core/run/questions/changelog/index.ts
  src/core/run/questions/gitControl/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

✨ feature(lib): Add submission information
  .ks-cvlarrc.cjs
  src/core/init/questions/save/comment/list/en/index.ts
  src/core/init/questions/save/comment/list/zh_CN/index.ts
  src/core/run/questions/gitControl/index.ts
  src/interface.d.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

✨ feature(lib): Can initialize Pushtagmessage and submit tags and generate logs
  .ks-cvlarrc copy.cjs
  .ks-cvlarrc.cjs
  src/core/init/index.ts
  src/core/init/locales/langs/en/index.ts
  src/core/init/locales/langs/zh-CN/index.ts
  src/core/init/questions/i18n/en/index.ts
  src/core/init/questions/i18n/zh_CN/index.ts
  src/core/init/questions/release/index.ts
  src/core/init/questions/save/comment/list/en/index.ts
  src/core/init/questions/save/comment/list/zh_CN/index.ts
  src/core/run/questions/gitControl/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(workflows): Restore the file configuration of GitHub Actions, and correct the code process
  .github/workflows/ci.yml
Due: none

🐛 fix(config): Fix the automatic annotation of interactive experience and configuration
  .cvlar-commit-message-231006.tmp
  .ks-cvlarrc copy.cjs
  .ks-cvlarrc.cjs
  src/core/init/questions/i18n/en/index.ts
  src/core/init/questions/i18n/zh_CN/index.ts
  src/core/init/questions/release/index.ts
  src/core/init/questions/save/comment/list/en/index.ts
  src/core/init/questions/save/comment/list/zh_CN/index.ts
  src/core/run/questions/release/index.ts
  src/utils/config/def/user/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

📦️ release(tag): 新版本0.1.0-rc.1
  .ks-cvlarrc.cjs
  changelogs/.history
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.ja.md
  changelogs/CHANGELOG.ko.md
  changelogs/CHANGELOG.ru.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
  src/core/run/questions/gitControl/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(changelog): Log translation and Package.json repair
  package.json
  src/core/run/questions/gitControl/index.ts
  src/utils/version/get/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(changelog): The log can be followed in the tag in the file, and the log is perfect!
  .ks-cvlarrc.cjs
  changelogs/.history
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.ja.md
  changelogs/CHANGELOG.ko.md
  changelogs/CHANGELOG.ru.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
  package.json
  src/core/init/questions/changelog/index.ts
  src/core/run/questions/changelog/index.ts
  src/core/run/questions/release/index.ts
  src/utils/config/def/user/index.ts
  src/utils/translate/text/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(lib): Update the file writing, prepare for testing GitHub Release automatically release
  src/utils/version/get/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

📦️ release(tag): New version 0.1.0-RC.3
  changelogs/.history
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.ja.md
  changelogs/CHANGELOG.ko.md
  changelogs/CHANGELOG.ru.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
  package.json
Due: npx prettier --write

📦️ release(tag): New version 0.1.0-RC.3
  changelogs/.history
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.ja.md
  changelogs/CHANGELOG.ko.md
  changelogs/CHANGELOG.ru.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
Due: none

🆕 add(changelog): The log has been generated in the format
  changelogs/.history
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.ja.md
  changelogs/CHANGELOG.ko.md
  changelogs/CHANGELOG.ru.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
  src/core/run/questions/changelog/index.ts
  src/core/run/questions/gitControl/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

📦️ release(tag): new version 0.1.0-rc.4
  changelogs/.history
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.ja.md
  changelogs/CHANGELOG.ko.md
  changelogs/CHANGELOG.ru.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
  package.json
  src/utils/version/get/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(lib): Fix the problem of special blank string of Result.emojior
  changelogs/.history
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.ja.md
  changelogs/CHANGELOG.ko.md
  changelogs/CHANGELOG.ru.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
  src/core/run/questions/changelog/index.ts
  src/utils/git/message/parse/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(lib): Modify and add a code version number
  src/utils/git/message/parse/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

📦️ release(tag): the new version 0.1.0-rc.5
  changelogs/.history
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.ja.md
  changelogs/CHANGELOG.ko.md
  changelogs/CHANGELOG.ru.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
  package.json
Due: npx prettier --write

🐛 fix(lib): Avoid tags from submitting, and ask again if you submit it, causing duplicate questions
  src/core/run/questions/gitControl/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

⚰️ remove(lib): Delete the temporary file of the git, and check whether it is successfully deleted again
  .cvlar-commit-message-231006.tmp
Due: none

🐛 fix(workflows): Fix the script process to avoid the node version of the version too low, resulting in PNPM cannot be used
  .github/workflows/ci.yml
  src/core/run/questions/gitControl/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🔄 workflow(workflows): Workflow, automatic release version update
  .github/workflows/ci.yml
  src/utils/version/get/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

📦️ release(tag): new version 0.1.0-rc.6
  changelogs/.history
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.ja.md
  changelogs/CHANGELOG.ko.md
  changelogs/CHANGELOG.ru.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
  package.json
Due: npx prettier --write

🐛 fix(lib): Fix the delete and submit information temporary file function to avoid problems that do not exist in the object
  src/core/run/questions/gitControl/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(workflows): Fix the sequence of Github Actions configuration script
  .github/workflows/ci.yml
  src/core/run/questions/release/index.ts
  src/utils/version/get/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(lib): Output Unreleasedtags, see why it is not released
  src/core/run/questions/release/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

✅ test(lib): Debug and get the current release list information, for testing
  src/core/run/questions/release/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

✅ test(lib): Add debugging information for easy check
  src/core/run/questions/release/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🆕 add(lib): Method to increase the method to get TAGS through the API
  src/core/run/questions/release/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(lib): Fix and add prompts `Changelog.template.content`, resulting
  .ks-cvlarrc.cjs
  changelogs/.history
  changelogs/.template
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.ja.md
  changelogs/CHANGELOG.ko.md
  changelogs/CHANGELOG.ru.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
  src/core/init/questions/i18n/en/index.ts
  src/core/init/questions/i18n/zh_CN/index.ts
  src/core/init/questions/save/comment/list/en/index.ts
  src/core/init/questions/save/comment/list/zh_CN/index.ts
  src/core/run/questions/changelog/index.ts
  src/utils/git/message/parse/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(lib): Now it has been changed to read log MD file for publishing content
  .ks-cvlarrc.cjs
  changelogs/CHANGELOG.md
  src/core/init/questions/save/comment/list/en/index.ts
  src/core/init/questions/save/comment/list/zh_CN/index.ts
  src/core/run/questions/changelog/index.ts
  src/core/run/questions/release/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

📦️ release(tag): new version 0.1.0-rc.7
  changelogs/.history
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.ja.md
  changelogs/CHANGELOG.ko.md
  changelogs/CHANGELOG.md
  changelogs/CHANGELOG.ru.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
  package.json
  src/utils/version/get/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(lib): The test log file has been deleted, and now submit it again
  src/interface.d.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(workflows): Fix the configuration of GitHub Actions CI and clearly comment
  .github/workflows/ci.yml
  package.json
Due: npx prettier --write

🐛 fix(config): Put a variety to write again to avoid the unusable of github actions
  .github/workflows/ci.yml
  package.json
Due: npx prettier --write

🐛 fix(lib): Temporarily add the output string to facilitate debugging
  .github/workflows/ci.yml
  package.json
  src/core/run/questions/release/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(lib): The code that forgot to recover before before debugging, resulting in type errors
  src/interface.d.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(lib): Modify Github Actions to CVLAR -R, modify the API to get TAG, and change it to attributes
  .github/workflows/ci.yml
  src/core/run/questions/release/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix
