Repository kwooshung/cvla: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/build.mjs, npx prettier --write, npx eslint --fix, npx jest --findRelatedTests

💩Optimization(lib): Optimize the call of this.buildMessage () function
  src/utils/git/commit/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛Fix(lib): Git Commit Message Submission Format Modification
  src/utils/git/commit/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

Test whether submitting information in this way can display multiple lines
  src/utils/git/commit/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

Check if commitlint can verify the specification
  .commitlintrc.mjs
Due: none

Modify the conversion function of scopes
  src/utils/convert/toLintScopes/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

Modify commitlint configuration
  .commitlintrc.cjs
  .commitlintrc.mjs.bak
  scripts/commitTypes.cjs
  scripts/ks-cvlar.types.cjs
Due: none

Forgot to use git hook and modified various configurations
  .commitlintrc.cjs
  .commitlintrc.mjs.bak
  .husky/commit-msg
  .husky/pre-commit
  .ks-cvlarrc.cjs
  package.json
  scripts/commitTypes.cjs
  scripts/ks-cvlar.scopes.cjs
  scripts/ks-cvlar.types.cjs
  scripts/ks-cvlar.types.mjs
  src/index.ts
  src/utils/convert/index.ts
  src/utils/convert/toLintTypes/index.test.ts
  src/utils/convert/toLintTypes/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix, npx jest --findRelatedTests

Forgot to use git hook and modified various configurations
  .commitlintrc.cjs
Due: none

🐛 fix(lib): Fix configuration issues related to Types and Scopes
  .commitlintrc.cjs
  pnpm-lock.yaml
  scripts/ks-cvlar.types.cjs
  src/core/run/questions/gitControl/index.ts
  src/utils/config/def/types/en/index.ts
  src/utils/config/def/types/zh-CN/index.ts
  src/utils/git/commit/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(lib): Automatic process and configuration, try again
  .github/workflows/ci.yml.bak
  src/core/init/questions/save/index.ts
  src/utils/git/commit/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(lib): Submit multiple times through -m points, try again
  src/core/run/questions/gitControl/index.ts
  src/utils/git/commit/index.ts
  src/utils/translate/text/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(lib): Modify the sequence of data information information
  .husky/commit-msg
  .husky/pre-commit
  .ks-cvlarrc.cjs
  src/core/init/questions/basic/index.ts
  src/core/init/questions/changelog/index.ts
  src/core/run/questions/gitControl/index.ts
  src/utils/config/def/user/index.ts
  src/utils/git/commit/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(lib): Fix submitting information parameter production logic
  src/utils/git/commit/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(lib): Optimize the logic of submitting information
  src/utils/git/commit/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(lib): Compatible most of the terminal submit information format
  src/utils/git/commit/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(lib): Update the change symbol to see if it is compatible
  src/utils/git/commit/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(lib): Add^, try
  src/utils/git/commit/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(lib): Update the change symbol to see if it is compatible
  src/core/run/questions/index.ts
  src/utils/git/commit/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(lib): Test manual submission\n\nLine 2\nLine 3
  src/core/run/questions/index.ts
  src/utils/git/commit/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(lib): Specify file, compatible format, test again
  .cvlar-commit-message-175821.tmp
  src/core/run/questions/gitControl/index.ts
  src/core/run/questions/index.ts
  src/core/run/questions/pm/index.ts
  src/core/run/questions/scripts/index.ts
  src/utils/git/commit/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(utils): Combat and submit the news
  .cvlar-commit-message-175821.tmp
  src/core/run/questions/gitControl/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

💩 optimization(lib): Optimize the message format and remove the blank characters at both ends
  .commitlintrc.cjs
  src/core/run/questions/gitControl/index.ts
  src/utils/git/commit/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

✅ test(test): Remove the test file of the Commit class, because it involves too much and is too complicated, it is temporarily removed
  src/core/run/questions/gitControl/index.ts
  src/interface.d.ts
  src/utils/convert/toLintScopes/index.test.ts
  src/utils/git/add/all/index.ts
  src/utils/git/add/current/index.ts
  src/utils/git/commit/index.test.ts
  src/utils/git/push/index.test.ts
  src/utils/git/push/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix, npx jest --findRelatedTests

✨ feature(lib): Increase the function of pushing the code
  .ks-cvlarrc.cjs
  src/core/run/questions/gitControl/index.ts
  src/utils/git/push/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

✨ feature(lib): Add version management
  .ks-cvlarrc.cjs
  package.json
  pnpm-lock.yaml
  src/core/init/questions/version/index.ts
  src/core/run/questions/gitControl/index.ts
  src/core/run/questions/index.ts
  src/utils/command/prompt/select/index.ts
  src/utils/console/clear/lastline/index.test.ts
  src/utils/console/clear/lastline/index.ts
  src/utils/git/push/index.test.ts
  src/utils/git/push/index.ts
  src/utils/git/version/index.ts
  src/utils/version/index.ts
  src/utils/version/normalize/index.test.ts
  src/utils/version/normalize/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix, npx jest --findRelatedTests

🐛 fix(lib): Improved version management
  .ks-cvlarrc.cjs
  package.json
  src/core/run/questions/gitControl/index.ts
  src/utils/git/version/index.ts
  src/utils/version/get/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(lib): Fix some small bugs
  package.json
  src/core/run/questions/gitControl/index.ts
  src/utils/version/get/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(lib): Automatic update version number function has been perfected
  .ks-cvlarrc.cjs
  package.json
  src/core/run/questions/gitControl/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(lib): Correction tool version number
  src/utils/version/get/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🆕 add(config): Increase the configuration of .CodeClimate.yml and ignore some misjudgment files
  .codeclimate.yml
Due: none

🆕 add(lib): Added a specified version upgrade
  .ks-cvlarrc.cjs
  package.json
  src/core/run/questions/gitControl/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🆕 add(lib): After getting most functions, there are left logs
  .ks-cvlarrc.cjs
  package.json
  scripts/build.mjs
  src/core/header/index.ts
  src/core/run/questions/gitControl/index.ts
  src/core/run/questions/pm/index.ts
  src/utils/git/commit/index.ts
  src/utils/version/arrow/index.ts
  src/utils/version/decrement/index.test.ts
  src/utils/version/decrement/index.ts
  src/utils/version/get/index.ts
  src/utils/version/index.ts
  src/utils/version/normalize/index.test.ts
  src/utils/version/normalize/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix, npx jest --findRelatedTests

🐛 fix(config): Published the first version
  package.json
Due: npx prettier --write

🐛 fix(lib): Check whether the tag exists, not accurate enough
  .ks-cvlarrc.cjs
  package.json
  src/core/run/questions/gitControl/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🆕 add(utils): Added log file function, but it has not been completed
  .ks-cvlarrc.cjs
  package.json
  src/core/init/locales/langs/en/index.ts
  src/core/init/locales/langs/zh-CN/index.ts
  src/core/init/questions/changelog/index.ts
  src/core/init/questions/save/comment/list/en/index.ts
  src/core/init/questions/save/comment/list/zh_CN/index.ts
  src/core/run/questions/changelog/index.ts
  src/core/run/questions/gitControl/index.ts
  src/core/run/questions/index.ts
  src/interface.d.ts
  src/utils/command/execute/index.ts
  src/utils/git/index.ts
  src/utils/git/message/index.ts
  src/utils/git/message/toChangeLog/index.ts
  src/utils/git/tag/exists/index.ts
  src/utils/git/tag/get/all/index.ts
  src/utils/git/tag/get/index.ts
  src/utils/git/tag/index.ts
  src/utils/version/get/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🐛 fix(lib): Fix the logic of submitting information transfer logs
  src/core/run/questions/changelog/index.ts
  src/utils/git/message/toChangeLog/index.ts
  src/utils/git/tag/get/all/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

🚧 wip(lib): The analysis log message function is done
  .ks-cvlarrc.cjs
  package.json
  src/core/init/index.ts
  src/core/init/locales/langs/en/index.ts
  src/core/init/locales/langs/zh-CN/index.ts
  src/core/init/questions/changelog/index.ts
  src/core/init/questions/save/comment/list/en/index.ts
  src/core/init/questions/save/comment/list/zh_CN/index.ts
  src/core/run/questions/changelog/index.ts
  src/interface.d.ts
  src/utils/convert/index.ts
  src/utils/convert/replaceTemplate/index.test.ts
  src/utils/convert/replaceTemplate/index.ts
  src/utils/git/message/index.ts
  src/utils/git/message/parse/index.test.ts
  src/utils/git/message/parse/index.ts
  src/utils/git/message/toChangeLog/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix, npx jest --findRelatedTests

🆕 add(lib): Increased the operation of logs
  .ks-cvlarrc.cjs
  changelogs/.history
  changelogs/CHANGELOG.en.md
  changelogs/CHANGELOG.ja.md
  changelogs/CHANGELOG.ko.md
  changelogs/CHANGELOG.ru.md
  changelogs/CHANGELOG.zh-cn.md
  changelogs/CHANGELOG.zh-tw.md
  package.json
  pnpm-lock.yaml
  src/core/init/locales/langs/en/index.ts
  src/core/init/locales/langs/zh-CN/index.ts
  src/core/init/questions/changelog/index.ts
  src/core/init/questions/save/comment/list/en/index.ts
  src/core/init/questions/save/comment/list/zh_CN/index.ts
  src/core/run/questions/changelog/index.ts
  src/core/run/questions/index.ts
  src/core/run/questions/pm/index.ts
  src/interface.d.ts
  src/utils/command/prompt/separator/index.ts
  src/utils/config/def/user/index.ts
  src/utils/console/error/index.test.ts
  src/utils/console/error/index.ts
  src/utils/convert/replaceTemplate/index.test.ts
  src/utils/convert/replaceTemplate/index.ts
  src/utils/git/message/toChangeLog/index.ts
  src/utils/io/copy/index.test.ts
  src/utils/io/copy/index.ts
  src/utils/io/createDir/index.ts
  src/utils/io/index.ts
  src/utils/io/move/index.test.ts
  src/utils/io/move/index.ts
  src/utils/io/write/index.test.ts
  src/utils/io/write/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix, npx jest --findRelatedTests

✨ feature(lib): Increase the function of re -generating and cleaning up the log
  .ks-cvlarrc.cjs
  src/core/run/questions/changelog/index.ts
Due: node scripts/build.mjs, npx prettier --write, npx eslint --fix

Path conditions:
  node scripts/build.mjs: any of: *.{js,jsx,ts,tsx}
  npx prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx jest --findRelatedTests: any of: *.test.{js,ts}
